*,*::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    
}
body {
    background-color: #fff;
    font-size: 16px;
    
}

.app {
    text-align: center;
}

